repos:
-   repo: https://github.com/ambv/black
    rev: 26.1.0
    hooks:
    - id: black
      language_version: python3

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer

- repo: https://github.com/PyCQA/flake8/
  rev: 7.3.0
  hooks:
    -   id: flake8

-   repo: https://github.com/PyCQA/isort
    rev: 8.0.1
    hooks:
    -   id: isort
